@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
/*Medium*/
nav img {
  width: 10%; }
nav h1 {
  margin-left: 10px;
  font-size: 20px; }
nav ul {
  float: right;
  margin-top: 3%; }

@media (min-width: 769px) and (max-width: 992px) {
  .blocks, .blocksText {
    max-width: 49%;
    display: inline-block; }

  .dos, .cuatro {
    float: left; } }
@media (min-width: 993px) {
  .contenedor {
    width: 49.5%;
    display: inline-block; }
    .contenedor .tres, .contenedor .cuatro {
      float: left; } }
@media (max-width: 768px) {
  .contenedor {
    width: 100%; }
    .contenedor .blocks {
      float: left; }
    .contenedor .blocks, .contenedor .blocksText {
      width: 100%; }
    .contenedor .uno, .contenedor .dos, .contenedor .tres, .contenedor .cuatro {
      float: right;
      vertical-align: bottom; } }
* {
  font-family: "Raleway"; }

nav {
  color: #B2B2B2; }
  nav a {
    color: #B2B2B2; }

h1 {
  font-weight: bold; }

hr {
  width: 20%;
  float: left;
  border-top: 2px solid #222222; }

#myTitle hr {
  border-top: 2px solid #B2B2B2; }

.bg {
  background: url(../images/back-lock.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 110vh;
  padding: 0px;
  color: white; }
  .bg .bannerTitle {
    font-size: 45px; }
  .bg .bannerSub {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7); }
  .bg > div {
    padding: 20% 0;
    background: rgba(0, 0, 0, 0.5);
    height: 110vh; }

#myTitle {
  background: url(../images/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 110vh;
  padding: 0px;
  color: white; }
  #myTitle .bgDos {
    background: rgba(0, 0, 0, 0.7);
    height: 110vh; }
    #myTitle .bgDos p {
      color: rgba(255, 255, 255, 0.8); }
    #myTitle .bgDos video {
      width: 100%; }

nav, #texto, #meDefine, #offers,
#contact, footer, .sideBlock {
  padding: 20px 0px; }

.floatLeft {
  float: left; }

#texto .col-lg-12 img {
  filter: invert(60%);
  display: inline-block;
  vertical-align: super;
  margin-right: 15px; }
#texto .sideBlock {
  width: 80%;
  display: inline-block; }

.contenedor:before, .contenedor:after {
  content: "";
  clear: both;
  display: block; }

.blocks {
  display: inline-block;
  width: 50%;
  vertical-align: top; }
  .blocks img {
    width: 100%; }

.blocksText {
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  padding: 0px 20px;
  width: 49%; }
  .blocksText h5 {
    font-weight: bold;
    color: #222222;
    text-transform: uppercase; }
  .blocksText i, .blocksText .subtitle {
    color: #666666; }

.packages {
  padding-top: 5px;
  background: #F0F0F1;
  margin: 0 auto;
  margin-top: 5px;
  font-size: 10px; }
  .packages:hover {
    border: 2px solid black;
    background: white; }
  .packages h2 {
    color: #666666;
    font-weight: bold; }
  .packages .price {
    font-size: 30px; }
    .packages .price span {
      font-size: 40px; }
  .packages img {
    filter: invert(40%);
    margin-bottom: 10px; }
  .packages div {
    text-transform: uppercase;
    padding: 10px;
    border-top: 1px solid #B2B2B2;
    width: 50%;
    display: inline-block;
    float: left; }
    .packages div:nth-child(3), .packages div:nth-child(5) {
      border-right: 1px solid #B2B2B2; }
  .packages button {
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    border: none;
    background-color: #222222;
    color: white; }

#contact button {
  margin-top: 15px;
  padding: 5px 10px;
  text-transform: uppercase;
  border: none;
  background-color: #222222;
  color: white; }
#contact input, #contact textarea {
  padding: 5px;
  margin-top: 15px;
  display: block;
  border: 1px solid #B2B2B2;
  border-width: 2px 1px 1px 2px;
  width: 100%; }
#contact .title {
  font-weight: bold;
  color: #666666; }
#contact .dropdown {
  border-bottom: 2px solid #F0F0F1; }

footer {
  background: #F0F0F1;
  text-transform: uppercase;
  color: #666666; }
  footer img {
    margin-bottom: 10px; }
  footer i {
    font-size: 20px;
    margin: 10px; }

/*# sourceMappingURL=main.css.map */
