*{
	font-family:"Raleway";
}
nav {
	color:$gris;
	a{
		color:$gris;
	}
}
h1{
	font-weight:bold;
}
hr{
	width:20%;
	float:left;
	border-top:2px solid $negro;
}
#myTitle{
	hr{
		border-top:2px solid $gris;
	}
}
.bg{@include fixedBg(url(../images/back-lock.jpg),fixed);
	padding:0px;
	color:white;
	.bannerTitle{
		font-size:45px;
	}
	.bannerSub{
		font-size:20px;
		color:rgba(255,255,255,0.7);
	}
	>div{
		padding:20% 0;
		background:rgba(0,0,0,0.5);
		height:110vh;
	}
}
#myTitle{@include fixedBg(url(../images/bg3.jpg),fixed);
	padding:0px;
	color:white;
	.bgDos{
		background:rgba(0,0,0,0.7);
		height:110vh;
		p{
			color:rgba(255,255,255,0.8);
		}
		video{
			width:100%;
		}
	}
}
nav,#texto,#meDefine,#offers,
#contact,footer,.sideBlock{
	padding:20px 0px;
}
.floatLeft{
	float:left;
}
#texto{
	.col-lg-12 img{
		filter:invert(60%);
		display:inline-block;
		vertical-align:super;
		margin-right:15px;
	}
	.sideBlock{
		width:80%;
		display:inline-block;
	}
}
.contenedor{@include repisa();
}
.blocks{
	display:inline-block;
	width:50%;
	vertical-align:top;
	img{
		width:100%;
	}
}
.blocksText{
	vertical-align:top;
	display:inline-block;
	box-sizing:border-box;
	padding:0px 20px;
	width:49%;
	h5{
		font-weight:bold;
		color:$negro;
		text-transform:uppercase;
	}
	i,.subtitle{
		color:$grisOscuro;
	}
}
.packages{
	padding-top:5px;
	background:$bgGris;
	margin:0 auto;
	margin-top:5px;
	font-size:10px;
	&:hover{
		border:2px solid black;
		background:white;
	}
	h2{
		color:$grisOscuro;
		font-weight:bold;
	}
	.price{
		font-size:30px;
		span{
			font-size:40px;
		}
	}
	img{
		filter:invert(40%);
		margin-bottom:10px;
	}
	div{
		&:nth-child(3),&:nth-child(5){
			border-right:1px solid $gris;
		}
		text-transform:uppercase;
		padding:10px;
		border-top:1px solid $gris;
		width:50%;
		display:inline-block;
		float:left;
	}
	button{
		padding:10px;
		font-weight:bold;
		text-transform:uppercase;
		width:100%;
		border:none;
		background-color:$negro;
		color:white;
	}
}
#contact{
	button{
		margin-top:15px;
		padding:5px 10px;
		text-transform:uppercase;
		border:none;
		background-color:$negro;
		color:white;
	}
	input,textarea{
		padding:5px;
		margin-top:15px;;
		display:block;
		border:1px solid $gris;
		border-width:2px 1px 1px 2px;
		width:100%;
	}
	.title{
		font-weight:bold;
		color:$grisOscuro;
	}
	.dropdown{
		border-bottom:2px solid $bgGris;
	}
}
footer{
	background:$bgGris;
	text-transform:uppercase;
	color:$grisOscuro;
	img{
		margin-bottom:10px;
	}
	i{
		font-size:20px;
		margin:10px;
	}
}