@mixin fixedBg($url,$attachment){
	background:$url;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:$attachment;
	min-height:110vh;
}
@mixin repisa(){
	&:before,&:after{
		content:"";
		clear:both;
		display:block;	
	}
}
