/*Medium*/
nav {
	img{
	width:10%;
	}
	h1{
		margin-left:10px;
		font-size:20px;
	}
	ul{
		float:right;
		margin-top:3%;
	}
}
@media (min-width:769px) and (max-width:992px){
	.blocks,.blocksText{
		max-width:49%;
		display:inline-block;
	}
	.dos,.cuatro{
		float:left;
	}
}
@media (min-width:993px){
	.contenedor{
		width:49.5%;
		display:inline-block;
		.tres,.cuatro{
			float:left;
		}
	}
}
@media (max-width:768px){
	.contenedor{
		width:100%;
		.blocks{
			float:left;
		}
		.blocks,.blocksText{
			width:100%;
		}
		.uno,.dos,.tres,.cuatro{
			float:right;
			vertical-align:bottom;
		}
	}
}